<h2 align="center">Inventory Form</h2>
<form (ngSubmit)="onSubmit()" #inventoryForm="ngForm">
<table cellpadding="5"cellspacing="5" align="center">
<tr>
<div class="form-group" >
  <td ><label for="name">Name</label></td>
  <td><input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name"></td>
</div>
</tr>
<tr>
<div class="form-group">
    <td><label for="description">Description</label></td>
    <td><input type="text" class="form-control" id="description"
           required
           [(ngModel)]="model.description" name="description"></td>
</div>
</tr>
<tr>
<div class="form-group" >
    <td><label for="price">Price</label></td>
    <td><input type="text" class="form-control" id="price"
           required
           [(ngModel)]="model.price" name="price"></td>
</div>
</tr>
<td>
<p align="center">
       <button  type="button" class="btn btn-default" color="black" (click)="newInventory()">Add Inventory</button>
</p>
</td>
</table>
</form>

<app-inventory></app-inventory>